<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>Blog details</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepage' %}">
                <img src="{% static 'img/logo2.png' %}" alt="" class="custom-logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" href="{% url 'logout' %}">Logout</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" href="{% url 'edit_profile' %}">Hello, {{ user.username }}</a>
                        </li>
                    {% else %}
                        <li class="nav-item text-white">
                            <a class="nav-link login-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item text-white">
                            <a class="nav-link text-white" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="background-image">
    <div class="container">
        <h2>Blog details</h2>
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.description }}</p>
        <p>Owner: {{ blog.owner }}</p>
        <p>Date of creation: {{ blog.date_of_creation }}</p>

        {% if request.user == blog.owner %}
            <a href="{% url 'edit_blog' blog_id=blog.id %}" class="btn btn-primary">Edit blog</a>
            <a href="{% url 'delete_blog' blog_id=blog.id %}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this post?')">Delete blog</a>
        {% endif %}

        <div class="container_button">
            <a href="{% url 'add_post' blog_id=blog.id %}" class="btn btn-success">Add post</a>
        </div>

        <h3>Filter posts by tags:</h3>
        <form method="get" action=".">
            <select name="tag" onchange="this.form.submit()">
                <option value="">All tags</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}" {% if request.GET.tag == tag.id|stringformat:"s" %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </form>

        <h3>Posts:</h3>
        <ul>
            {% for post in posts %}
                <li>
                    <h4><a href="{% url 'post_details' post.id %}">{{ post.title }}</a></h4>
                    <p>{{ post.content }}</p>
                    <p>Owner: {{ post.author }}</p>
                    <p>Date of creation: {{ post.date_of_creation }}</p>
                    {% if post.image %}
                        <td>
                            <img src="{{ post.image.url }}" alt="">
                        </td>

                    {% endif %}
                    {% if request.user == post.author %}
                        <a href="{% url 'edit_post' post_id=post.id %}" class="btn btn-primary">Edit post</a>
                        <a href="{% url 'delete_post' post_id=post.id %}" class="btn btn-danger" onclick="return confirm('Are you sure want to delete this post?')">Delete post</a>
                    {% endif %}
                </li>
            {% empty %}
                <li>Posts unveavaible.</li>
            {% endfor %}
        </ul>
    </div>
    </div>
</main>
</body>
</html>
