<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podaj hasło</title>
</head>
<body>
    <h1>Blog jest prywatny</h1>
    <p>Aby uzyskać dostęp do tego bloga, proszę podać hasło:</p>
    <form method="post">
        {% csrf_token %}
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Zaloguj</button>
    </form>
</body>
</html>
