<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>Szczegóły bloga</title>
</head>
<body>
    <h2>Szczegóły bloga</h2>
    <h3>{{ blog.title }}</h3>
    <p>{{ blog.description }}</p>
    <p>Właściciel: {{ blog.owner }}</p>
    <p>Data utworzenia: {{ blog.date_of_creation }}</p>

    <div class="container_button">
        <a class="button_1" href="{% url 'add_post' blog_id=blog.id %}" >Dodaj Post</a>
    </div>


    <h3>Posty:</h3>
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{% url 'post_details' post.id %}">{{ post.title }}</a></h2>
                <p>{{ post.content }}</p>
                <p>Autor: {{ post.author }}</p>
                <p>Data dodania: {{ post.date_of_creation }}</p>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image">
                {% endif %}
            </li>
        {% empty %}
            <li>Brak postów.</li>
        {% endfor %}
    </ul>

</body>
</html>
