<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>Podaj hasło</title>
</head>
<body>
    <h1>Blog jest prywatny</h1>
    <form method="post">
        {% csrf_token %}
        <label for="password">Podaj hasło:</label>
        <input type="password" id="password" name="password">
        <button type="submit">Zaloguj</button>
    </form>
</body>
</html>
