<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>Szczegóły bloga</title>
</head>
<body>
    <div class="container">
        <h2>Szczegóły bloga</h2>
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.description }}</p>
        <p>Właściciel: {{ blog.owner }}</p>
        <p>Data utworzenia: {{ blog.date_of_creation }}</p>

        {% if request.user == blog.owner %}
            <a href="{% url 'edit_blog' blog_id=blog.id %}" class="btn btn-primary">Edytuj blog</a>
            <a href="{% url 'delete_blog' blog_id=blog.id %}" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten blog?')">Usuń blog</a>
        {% endif %}

        <div class="container_button">
            <a href="{% url 'add_post' blog_id=blog.id %}" class="btn btn-success">Dodaj Post</a>
        </div>

        <h3>Filtruj posty według tagów:</h3>
        <form method="get" action=".">
            <select name="tag" onchange="this.form.submit()">
                <option value="">Wszystkie tagi</option>
                {% for tag in tags %}
                    <option value="{{ tag.id }}" {% if request.GET.tag == tag.id|stringformat:"s" %}selected{% endif %}>{{ tag.name }}</option>
                {% endfor %}
            </select>
        </form>

        <h3>Posty:</h3>
        <ul>
            {% for post in posts %}
                <li>
                    <h4><a href="{% url 'post_details' post.id %}">{{ post.title }}</a></h4>
                    <p>{{ post.content }}</p>
                    <p>Autor: {{ post.author }}</p>
                    <p>Data dodania: {{ post.date_of_creation }}</p>
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid">
                    {% endif %}
                    {% if request.user == post.author %}
                        <a href="{% url 'edit_post' post_id=post.id %}" class="btn btn-primary">Edytuj post</a>
                        <a href="{% url 'delete_post' post_id=post.id %}" class="btn btn-danger" onclick="return confirm('Czy na pewno chcesz usunąć ten post?')">Usuń post</a>
                    {% endif %}
                </li>
            {% empty %}
                <li>Brak postów.</li>
            {% endfor %}
        </ul>


    </div>
</body>
</html>
