<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
    <title>Szczegóły posta</title>
</head>
<body>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    <p>Autor: {{ post.author }}</p>
    <p>Data dodania: {{ post.date_of_creation }}</p>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post Image">
    {% endif %}
    <h3>Komentarze</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <p>{{ comment.content }}</p>
                <p>Autor: {{ comment.author }}</p>
                <p>Data dodania: {{ comment.date_of_creation }}</p>
            </li>
        {% empty %}
            <li>Brak komentarzy.</li>
        {% endfor %}
    </ul>
    <h3>Dodaj komentarz</h3>
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Dodaj komentarz</button>
    </form>
</body>
</html>
