#bg {
    position: relative;
    background-image: url('mainapp/static/img/plik.gif');
}

#bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Przykładowy kolor tła (tu: półprzezroczysty czarny) */
    /* Inne właściwości tła (np. rozmiar, powtarzanie) */
}

nav {
    background-color: #007bff;
    border-radius: 0 0 15px 15px;
    border-bottom: 2px solid #FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.button_1,
.button_2 {
    border-radius: 35px;
    background-color: rgba(48, 48, 48, 0.7);
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 15px 30px;
    cursor: pointer;
    position: relative;
    animation: fadeIn 2s ease-in-out;
    text-transform: uppercase;
    margin-top: 380px;
    margin-right: 20px;
    border: 2px solid #FFFFFF;
    transition: background-color 0.5s ease;
}

.button_2{
    margin-left: 60px;
    margin-right: -80px;
}

.button_1:hover,
.button_2:hover {
    color: deeppink;
    background-color: #252525;
    opacity: 1;
    text-decoration: none;

}
.container_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: relative;
    z-index: 50;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('mainapp/static/img/plik.gif');
    /* Pozostałe style dla elementu */
    opacity: 0.9; /* Ustaw pożądaną przezroczystość (0 - 1) */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: rgba(48, 48, 48, 0.7);
    border-top: 2px solid #FFFFFF;
    border-radius: 15px 15px 0 0;
    text-align: center;
}





