* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
    color: #e4e4e4;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.custom-logo {
    width: 60px;
    height: auto;
    margin: -10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #a3153b;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

nav li:hover {
    border: 1px solid #25811c;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
}

.background-image {
    background-image: url('/static/img/background_sites_3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

main h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 25px;
    color: #292929;
    font-size: 2.5rem;
}

.blogs_container {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
}

main ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Stylizacja pojedynczego wpisu na liście */
main ul li {
    background-color: #333232;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

main ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Stylizacja nagłówka wpisu */
main ul li h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2980b9; /* Kolor linków */
}

/* Stylizacja linku w nagłówku wpisu */
main ul li h2 a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
}

main ul li h2 a:hover {
    color: #3498db; /* Jaśniejszy kolor przy najechaniu */
}

/* Stylizacja opisu wpisu */
main ul li p {
    color: #d1d1d1;
    line-height: 1.6;
    font-size: 1rem;
}
