* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.background-image {
    background-image: url('/static/img/background_sites_3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

/* Stylizacja paska menu */
nav {
    background-color: #a3153b;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

/* Stylizacja listy w pasku menu */
nav ul {
    list-style-type: none; /* Usunięcie domyślnych punktów listy */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Wycentrowanie elementów w nawigacji */
}

/* Stylizacja elementów listy w pasku menu */
nav li {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

nav li:hover {
    border: 1px solid #25811c;
}

/* Stylizacja linków w pasku menu */
nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none; /* Usunięcie podkreślenia z linków */
    transition: color 0.3s ease; /* Animacja koloru */
}

/* Stylizacja ciała strony */
body {
    background-color: #f5f5f5; /* Delikatne tło */
    color: #333; /* Kolor tekstu */
}

/* Stylizacja nagłówka głównego */
main h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #292929; /* Ciemny kolor nagłówka */
    font-size: 2.5rem;
}

/* Stylizacja kontenera blogów */
.blogs-container {
    background-color: yellow; /* Żółte tło */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    max-width: 800px;
    margin: 0 auto; /* Wycentrowanie kontenera */
}

/* Stylizacja listy blogów */
.blogs-container ul {
    list-style-type: none; /* Usunięcie domyślnych punktów listy */
    padding: 0;
}

/* Stylizacja pojedynczego wpisu na liście */
.blogs-container ul li {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid #ced4da;
}

.blogs-container ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Mocniejszy cień przy najechaniu */
}

/* Stylizacja nagłówka wpisu */
.blogs-container ul li h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #2980b9; /* Kolor linków */
}

/* Stylizacja linku w nagłówku wpisu */
.blogs-container ul li h2 a {
    text-decoration: none;
    color: inherit; /* Dziedziczenie koloru z nagłówka */
    transition: color 0.3s ease; /* Animacja koloru */
}

.blogs-container ul li h2 a:hover {
    color: #3498db; /* Jaśniejszy kolor przy najechaniu */
}

/* Stylizacja opisu wpisu */
.blogs-container ul li p {
    color: #7f8c8d; /* Szary kolor tekstu opisu */
    line-height: 1.6; /* Zwiększona wysokość linii dla lepszej czytelności */
    font-size: 1rem;
}

/* Stylizacja formularza edycji bloga */
.edit-blog-container {
    border: 1px solid #ced4da;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Delikatny cień */
    padding: 20px;
    max-width: 600px;
    margin: 40px auto; /* Wycentrowanie kontenera formularza */
}

.edit-blog-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #292929;
    font-size: 2rem;
}

.edit-blog-container form {
    display: flex;
    flex-direction: column;
}

.edit-blog-container form button {
    align-self: center;
    padding: 10px 20px;
    margin-top: 20px;
}

textarea {
    border: 1px solid #000000;
    border-radius: 5px; /* Zaokrąglenie boków */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #2980b9;
    outline: none;
}
