* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Użycie ładnej czcionki */
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.custom-logo {
    width: 60px;
    height: auto;
    margin: -10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    background-color: #a3153b;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


nav li {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

nav li:hover {
    border: 1px solid #25811c;
}


nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}


body {
    background-color: #f5f5f5;
    color: #333;
}

.background-image {
    background-image: url('/static/img/background_sites_3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}
/* Kontener główny */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Delikatny cień */
}

/* Stylizacja nagłówków */
.container h2,
.container h3,
.container h4 {
    color: #252525;
    margin-bottom: 20px;
}

.container h2 {
    text-align: center;
    font-size: 2rem;
}

.container h3 {
    font-size: 1.5rem;
}

.container h4 {
    font-size: 1.25rem;
}

/* Stylizacja paragrafów */
.container p {
    color: #d1d1d1; /* Szary kolor tekstu */
    line-height: 1.6; /* Zwiększona wysokość linii dla lepszej czytelności */
    margin-bottom: 20px;
}

/* Stylizacja obrazów */
img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
}

/* Stylizacja przycisków */
.btn {
    margin-right: 10px; /* Odstęp między przyciskami */
}

.btn-primary {
    background-color: #2980b9; /* Niebieski kolor przycisku */
    border-color: #2980b9;
    transition: background-color 0.3s ease; /* Animacja koloru */
}

.btn-primary:hover {
    background-color: #3498db; /* Jaśniejszy kolor przy najechaniu */
}

.btn-danger {
    background-color: #c0392b; /* Czerwony kolor przycisku */
    border-color: #c0392b;
    transition: background-color 0.3s ease; /* Animacja koloru */
}

.btn-danger:hover {
    background-color: #e74c3c; /* Jaśniejszy kolor przy najechaniu */
}

.btn-success {
    background-color: #27ae60; /* Zielony kolor przycisku */
    border-color: #27ae60;
    transition: background-color 0.3s ease; /* Animacja koloru */
}

.btn-success:hover {
    background-color: #2ecc71; /* Jaśniejszy kolor przy najechaniu */
}

/* Stylizacja komentarzy */
.comment {
    background-color: #333232;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.comment:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Mocniejszy cień przy najechaniu */
}

/* Stylizacja formularza dodawania komentarza */
form {
    margin-top: 20px;
}

form .btn {
    margin-top: 10px;
}

input[type="text"],
textarea {
    border: 1px solid #ced4da;
    border-radius: 5px; /* Zaokrąglenie boków */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #2980b9;
    outline: none;
}