* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #a3153b;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #FFFFFF;
    position: fixed; /* Przykleja nagłówek do góry */
    top: 0; /* Pozycjonuje nagłówek na górze strony */
    width: 100%; /* Ustawia szerokość nagłówka na 100% */
    z-index: 1000; /* Ustawia z-index, aby nagłówek był na wierzchu innych elementów */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

nav li:hover {
    border: 1px solid #25811c;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
}

.background-image {
    background-image: url('/static/img/register_background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* Zmienione z height na min-height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px; /* Dodaje padding na górze, aby formularz nie był ukryty pod nagłówkiem */
}

.form-with-validation {
    width: 100%;
    padding: 20px;
    background-color: rgba(92, 92, 92, 0.8);
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9);
    margin: 20px;
}

/* form_header */
.form-with-validation h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fbfbfb;
}

.form-with-validation input[type="text"],
.form-with-validation input[type="email"],
.form-with-validation input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px 10px;
    margin: 10px 0;
    border: 1px solid #ced4da;
    border-radius: 4px;
    font-size: 16px;
}

/* podpisy formularza */
.form-with-validation label {
    display: block;
    margin-bottom: 5px;
    color: #e6e6e6;
}

/* submit */
.btn-primary.form-submit {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background-color: #25811c !important;
    color: #ffffff !important;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.5s ease;
}

.btn-primary.form-submit:hover {
    background-color: #114a0f !important;
}

/* komunikat o błędach */
.errorlist {
    color: #dc3545;
    margin-bottom: 10px;
}
