* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 99;
}

.background-image {
    background-image: url('/static/img/background_sites_3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

nav {
    background-color: #a3153b;
    border-radius: 0 0 5px 5px;
    border-bottom: 2px solid #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

nav li:hover {
    border: 1px solid #25811c;
}

nav a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

main h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #d5d5d5;
    font-size: 2.5rem;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(3px);
    color: #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 40px auto;
    border: 1px solid #ced4da;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #eaeaea;
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

input[type="submit"] {
    align-self: center;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #0780e3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50%;
}

input[type="submit"]:hover {
    background-color: #01508e;
}

input[type="text"],
textarea {
    border: 1px solid #ced4da;
    border-radius: 5px; /* Zaokrąglenie boków */
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #2980b9;
    outline: none;
}
